.table{
    display: table;
    border-spacing: 0 3px;
}
.row{ display: table-row;}
.row > * { display: table-cell;}
.row > :first-child{
    text-align: right;
    padding-right: 10px;
}

table{ text-align: center;}
table, th, td{ border: none;}
th, td{ padding: 10px;}
th{
    background-color: midnightblue;
    color: white;
}

td{ background-color: mistyrose;}
